#catalog-page-wrapper h1{
  color: #838383;
  font-weight: 400;
}


#catalog-page-wrapper div.catalog-block div.catalog-item{
  padding-bottom: 25px;
  width: 100%;
}



#catalog-page-wrapper div.catalog-block div.catalog-item a.catalog-show-more:hover{
  color: #ae4038;
  text-shadow: 0 1px 0 rgba(255,255,255,.46);
}

#catalog-page-wrapper div.catalog-block div.catalog-item a.catalog-show-more span{
  color: #ae4038;
  font-size: 1.35em;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255,255,255,.46);
  float: right;
}

#catalog-page-wrapper div.catalog-block div.catalog-item ul.catalog-menu{
  margin: 0;
  padding: 10px 20px;
  list-style: none;
  display: none;
}

#catalog-page-wrapper div.catalog-block div.catalog-item ul.catalog-menu.visited{
  display: block !important;
}

#catalog-page-wrapper div.catalog-block div.catalog-item ul.catalog-menu.visited li{
  font-style: italic;
}

#catalog-page-wrapper div.catalog-block div.catalog-item ul.catalog-menu li{
  margin-bottom: 5px;
  color: rgb(191, 41, 31);
  font-weight: 300;
}

#catalog-page-wrapper div.catalog-block div.catalog-item ul.catalog-menu li ul{
  list-style: none;
  display: none;
  margin-left: 20px;
}

#catalog-page-wrapper div.catalog-block div.catalog-item ul.catalog-menu li a{
  color: #bf291f;
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  border-bottom: 1px solid rgba(191, 41, 31, 0.35);

  -webkit-transition: 0.6s ease-out all;
  -moz-transition: 0.6s ease-out all;
  -ms-transition: 0.6s ease-out all;
  -o-transition: 0.6s ease-out all;
  transition: 0.6s ease-out all;
}

#catalog-page-wrapper div.catalog-block div.catalog-item ul.catalog-menu li a:hover{
  border-bottom: 1px solid rgba(191, 41, 31, 1);
}


#catalog-page-wrapper div.catalog-block div.catalog-item.open a.catalog-show-more{
  color: #dd2e21;
  text-shadow: 0 1px 0 rgba(255,255,255,.46);
}

.catalog-page-format .catalog-small-descr{
  width: 75%;
  font-weight: 300;
  font-style: italic;
  color: #666;
  font-size: 0.9em;
}

.catalog-page-format .catalog-full-descr{
  font-weight: 300;
  color: #666;
}

.catalog-page-format {

}

#catalog-page-wrapper .g4 .alpha{
  margin-right: 25px;
  width: 405px;
}

/*#catalog-page-wrapper .g8 .omega{
  margin-left: 25px;
  width: 885px;
}*/

.store-section{
  width: inherit;
}

.store-section .top-border{
  border-top: 1px solid #d8d8d8;
  margin-bottom: 20px;
}


.catalog-item ul li a.active{
  font-style: italic !important;
}

.category-description{
  margin: 20px 0;
}


.product-page{
  .product-image {
    img {
      border: 4px solid rgb(255, 255, 255);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
    }
  }

  .product-title{
    color: #bf291f;
    font-weight: 400;
    margin: 0;
    line-height: 1;
  }

  .product-content{
    padding: 20px 0 0 0;
  }

  @include breakpoint(small only){
    .product-title {
      font-size: 22px;
      margin: 0 0 20px 0;
    }

    .order-button{
      margin: 20px 0 0 0;
    }
  }
}