/* page-wrapper */

#wrapper{

	@media(max-width: 959px){
		//width:96%;
    width: 100%;
	}

	@media(max-width: 609px){
		//width:98%;
	}

}


/* end page-wrapper*/

/* header */
#wrapper #hd-wrapper{

	/* header properties for all resolutions */
	
	background: url(/assets/header-bg.jpg) repeat-x;
	padding-bottom: 20px;

	div.mobile-menu-button {
  		display: none;
 	}	
		
	div#logo{
  	  float: left;
  	  overflow: hidden;
      .image-container{
        background-color: transparent;
      }

	}
	
	div#menu{
  		float:right;
	}

	nav{
  		float: right;
  		margin-top: 33px;
  		display: inline;
	}

	nav ul.header-nav{
  		list-style: none;
  		margin: 0;
  		padding: 0;
	}

	nav ul.header-nav li{
  		float: left;
  		margin-right: 5px;
  		padding: 10px 44px;
	}

	nav ul.header-nav li:last-child{
  		margin-right: 0;
	}

	nav ul.header-nav li a{
  		font-weight: 400;
  		color: #bf291f;
  		text-decoration: none;
  		font-size: 1.15em;

  		-webkit-transition: 0.6s ease-out all;
  		-moz-transition: 0.6s ease-out all;
  		-ms-transition: 0.6s ease-out all;
  		-o-transition: 0.6s ease-out all;
  		transition: 0.6s ease-out all;

      border-bottom: 1px solid rgba(191, 41, 31, 0);
	}

	nav ul.header-nav li a:hover{
  		text-decoration: none;
      border-bottom: 1px solid rgba(191, 41, 31, 1);
	}

	nav ul.header-nav li.underline:hover a:hover{
  		text-decoration: underline !important;
	}

	nav ul.header-nav li.active{
  		-moz-border-radius: 5px;
  		-webkit-border-radius: 5px;
  		border-radius: 5px;
  
  		-moz-background-clip: padding;
  		-webkit-background-clip: padding-box;
  		background-clip: padding-box;
  
  		background-color: #c7c7c7;
  
  		-moz-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  		box-shadow: 0 1px 0 rgba(0,0,0,.17);
  
  		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZWYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  		background-image: -moz-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  		background-image: -o-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  		background-image: -webkit-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  		background-image: linear-gradient(bottom, #fdad00 0%, #fdef00 100%);

  		cursor: auto;
	}	

	nav ul.header-nav li.active span,
	nav ul.header-nav li.active{
  		color: #a3a3a3;
  		font-size: 1.15em;
  		text-shadow: 0 1px 0 rgba(255,255,255,.46);
	}

	/* end header properties for all resolutions */

	@media(max-width:1199px){

  		nav ul.header-nav li{
  			padding-left: 34px;
  			padding-right: 34px;
		}
	}

	@media(max-width: 959px){
    div#menu{
      margin-right: 0;
    }
		ul.header-nav li  {
        width:100%;

        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      background-color: #c7c7c7;
        -moz-box-shadow: 0 1px 0 rgba(0,0,0,.17);
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.17);
        box-shadow: 0 1px 0 rgba(0,0,0,.17);
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZWYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
        background-image: -moz-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
        background-image: -o-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
        background-image: -webkit-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
        background-image: linear-gradient(bottom, #fdad00 0%, #fdef00 100%);


        font-size: 22px;
        font-weight: bolder;
        text-decoration: none;
        padding-left:35px;
        padding-right: 35px;
        padding-top:10px;
        padding-bottom: 10px;
        color: #646464;
        text-shadow: 0 1px 0 rgba(255,255,255,.46);

        display: block;
        cursor: pointer;
        height:61px;
 		}

 		ul.header-nav li.click  {
  

  			-moz-background-clip: padding;
  			-webkit-background-clip: padding-box;
  			background-clip: padding-box;
  			background-color: #c7c7c7;
  			-moz-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZWYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  			background-image: -moz-linear-gradient(bottom, #FD3232 0%, #FD6432 100%);
  			background-image: -o-linear-gradient(bottom, #FD3232 0%, #FD6432 100%);
  			background-image: -webkit-linear-gradient(bottom, #FD3232 0%, #FD6432 100%);
  			background-image: linear-gradient(bottom, #FD3232 0%, #FD6432 100%);
 		}
 
 		nav ul.header-nav li a,
 		nav ul.header-nav li.active span {
  			display:block;
    		width: 100%;
    		text-align: center;
    		border-left:white 1px solid;
    		border-right:white 1px solid;
    		font-size: 26px;
  			font-weight: bold;
        padding-top: 7px;
        padding-bottom: 7px;
 		}
 		nav  {
    		margin-bottom: 10px;
    		margin-top: 0;
    		display: none;

     		-moz-box-shadow:  0px 0px 0px 0px rgba(0,0,0,0.9);
  			-webkit-box-shadow: 0px -7px 7px -7px rgba(0,0,0,0.9);
  			box-shadow: 0px -7px 7px -7px rgba(0,0,0,0.9);
 		}
 
 		nav.collapsed-menu{
  			display: none;
 		}
 		
 		nav.expanded-menu{
  			display: inline;
 		}

 		div.mobile-menu-button {
  			margin-top: 29px;
  			display: inline;
  			float: right;
  			cursor: pointer;
 		}
 
 		div.mobile-menu-button img {
  			position: absolute;
  			right:0;
  			position: relative;
  			width:89px;
 		}

	}

 	@media(max-width: 609px){
 		ul.header-nav
  		{
    
  		}
 		nav ul.header-nav li  {
  			width:100%;

  			-moz-background-clip: padding;
  			-webkit-background-clip: padding-box;
  			background-clip: padding-box;
 	 		background-color: #c7c7c7;
  			-moz-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZWYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  			background-image: -moz-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  			background-image: -o-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  			background-image: -webkit-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  			background-image: linear-gradient(bottom, #fdad00 0%, #fdef00 100%);


  			font-size: 22px;
  			font-weight: bolder;
  			text-decoration: none;
  			padding-left:35px;
  			padding-right: 35px;
  			padding-top:10px;
  			padding-bottom: 10px;
  			color: #646464;
  			text-shadow: 0 1px 0 rgba(255,255,255,.46);

  			display: block;
  			cursor: pointer;
  			height:61px;
 		}
 
 		ul.header-nav li.click  {
  			-moz-background-clip: padding;
  			-webkit-background-clip: padding-box;
  			background-clip: padding-box;
  			background-color: #c7c7c7;
  			-moz-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			box-shadow: 0 1px 0 rgba(0,0,0,.17);
  			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZWYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  			background-image: -moz-linear-gradient(bottom, #FD3232 0%, #FD6432 100%);
  			background-image: -o-linear-gradient(bottom, #FD3232 0%, #FD6432 100%);
  			background-image: -webkit-linear-gradient(bottom, #FD3232 0%, #FD6432 100%);
  			background-image: linear-gradient(bottom, #FD3232 0%, #FD6432 100%);
 		}
 
 		nav ul.header-nav li a,
 		nav ul.header-nav li span {
  			display:block;
    		width: 100%;
    		text-align: center;
    		border-left:white 1px solid;
    		border-right:white 1px solid;
    		font-size: 26px;
  			font-weight: 600;
  			height: 100%;
  			padding-top: 7px;
  			padding-bottom: 7px;
 		}

 		div.mobile-menu-button {
  			margin-top: 29px;
  			display: inline;
  			float: right;
  			cursor: pointer;
 		}
 
 		div.mobile-menu-button img {
  			position: absolute;
  			right:0;
  			position: relative;
  			width:89px;
 		}	
 
 		nav  {
    		margin-bottom: 10px;
    		margin-top: 0;

    		-moz-box-shadow:  0px 0px 0px 0px rgba(0,0,0,0.9);
  			-webkit-box-shadow: 0px -7px 7px -7px rgba(0,0,0,0.9);
  			box-shadow: 0px -7px 7px -7px rgba(0,0,0,0.9);
 		}

  	}

  	@media(max-width: 490px){
  		div#logo
  		{
    		width:90px;
    		overflow-x:hidden;
  		}
 	}
}
/* header end */

/* footer */



/* footer end */



/* sponsor start */
#wrapper div#sponsor-wrapper{

	/* sponsor properties for all resolutions */
  	background: url(/assets/catalog-main-bg.jpg) repeat;
  	padding: 1px 0 1px 0;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
  	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  	height:auto;
  	padding-bottom: 1px;
  	padding-top: 1px;
  	width:100%;
  overflow: hidden;



  .sponsor-item{
    margin-left:auto;
    margin-right:auto;
    float: left !important;

    img{
      max-width: 100%;
    }

    @include breakpoint(small only){
      &:nth-child(2n+3){
        clear: left;
      }
    }

    @include breakpoint(medium only){
      &:nth-child(3n+4){
        clear: left;
      }
    }

  }
  




	/* below was a trying to posion elements in center by css. it was failed. js currently used */
	/*
	@media(min-width: 320px) and(max-width: 609px){
		
		div.g2.sponsor-item{
			border:2px orange solid;
			width: 20%;
			margin-right: 5%;
			margin-left: 5%;
		}
		
		div.g2.sponsor-item img{
			width: 100%;
			height: 100%;
		}
	}

	@media(min-width: 610px) and(max-width: 959px){
		
		div.g2.sponsor-item{
			border:2px pink solid;

			width: 29%;
			margin-right: 13%/6;
			margin-left: 13%/6;
		}

		div.g2.sponsor-item img{
			width: 100%;
			height: auto;
		}
	}
	*/

	/* end sponsor properties for all resolutions */
}
/* sponsor end */


.footer-pusher, .header-pusher{
  @include clearfix;
}


.error{
  border: 1px solid #bf291f !important;
}

.jquery_form_error_message{
  color: #bf291f !important;
  text-align: right;
  margin-left: 25px;
}

#contact-page-wrapper #contact-wrapper .contact-info-row p.sub-title{
  padding-top: 10px;
  font-size: 0.95em !important;
}

#contact-page-wrapper form#contact_us input{
  padding-left: 10px;
}

#contact-page-wrapper form#contact_us textarea{
  height: 260px !important;
}
