/* page-wrapper */


/* end page-wrapper*/





/* sponsor start */
#wrapper div#sponsor-wrapper{

	/* sponsor properties for all resolutions */
  	background: image_url("catalog-main-bg.jpg") repeat;
  	padding: 1px 0 1px 0;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
  	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  	height:auto;
  	padding-bottom: 1px;
  	padding-top: 1px;
  	width:100%;
  overflow: hidden;



  .sponsor-item{
    margin-left:auto;
    margin-right:auto;
    float: left !important;

    img{
      max-width: 100%;
    }

    @include breakpoint(small only){
      &:nth-child(2n+3){
        clear: left;
      }
    }

    @include breakpoint(medium only){
      &:nth-child(3n+4){
        clear: left;
      }
    }

  }
  




	/* below was a trying to posion elements in center by css. it was failed. js currently used */
	/*
	@media(min-width: 320px) and(max-width: 609px){
		
		div.g2.sponsor-item{
			border:2px orange solid;
			width: 20%;
			margin-right: 5%;
			margin-left: 5%;
		}
		
		div.g2.sponsor-item img{
			width: 100%;
			height: 100%;
		}
	}

	@media(min-width: 610px) and(max-width: 959px){
		
		div.g2.sponsor-item{
			border:2px pink solid;

			width: 29%;
			margin-right: 13%/6;
			margin-left: 13%/6;
		}

		div.g2.sponsor-item img{
			width: 100%;
			height: auto;
		}
	}
	*/

	/* end sponsor properties for all resolutions */
}
/* sponsor end */


.footer-pusher, .header-pusher{
  @include clearfix;
}


.error{
  border: 1px solid #bf291f !important;
}

.jquery_form_error_message{
  color: #bf291f !important;
  text-align: right;
  margin-left: 25px;
}

#contact-page-wrapper #contact-wrapper .contact-info-row p.sub-title{
  padding-top: 10px;
  font-size: 0.95em !important;
}

#contact-page-wrapper form#contact_us input{
  padding-left: 10px;
}

#contact-page-wrapper form#contact_us textarea{
  height: 260px !important;
}
