@media(max-width: 609px){
  /* footer start */
  #footer-wrapper{
  background: image_url("footer-bg.jpg") repeat-x scroll 0 60px transparent;
}
  div.contact-info-row.work.g4 {
  float:left;
  width:100%;
  margin-left: 0px;
  margin-right: 0;
  padding-top: 0px;
  padding-left:15px;
  padding-right: 15px;
 }
 .contact-info-row.work img {
  left:-30px;
 }
 #pn-pt
 {
  font-size: 18px;
 }
 #pn-pt span.me-color, #sb span.me-color
 {
  /*left:100%;*/
  /*margin-left: -200px;*/
  right:15px;
  position: absolute;
  font-size: 20px;
  padding-left: 0;
 }

 .contact-info-row.contacts.g4 {

    float:left;
  width:100%;
  margin-left: 0px;
  margin-right: 0;
  padding-top: 0px;
  padding-left:15px;
  padding-right: 15px;

  /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*padding-top: 0px;*/
   right: 0px; /*right: 30px;*/
  position: relative; /*position: absolute;*/
   width: 100%; /*width: auto;*/
 }
 .contact-info-row.contacts p#office a.tel,
  .contact-info-row.contacts p#sale a.tel {

    right:15px;
position: absolute;
 }
 .contact-info-row.copyright.g4 {

width:100%;
  margin-left: 0;
  padding-bottom: 0;
  float:clear;
  height:auto;
  top:310px;
 }

.contact-info-row.copyright div#developed-by  {
  position: absolute;
  left:0px;
  top:0px;
 }
 .contact-info-row.copyright div#developed-by p.title  {
  font-size: 12px;


 }
#footer-wrapper .contact-info-row.copyright p.copyrights  {
    position: absolute;
    margin: 0;
  top:13px;
  right:15px;
  width: 150px;
  
 } 
 .contact-info-row.copyright  {

 }
 /* footer end */


 /* header start */




 /* header end */


 /* sponsor start */
 $page_indent:15px;

  #sponsor-wrapper{
    width: 100%;
    margin-left:0;
    margin-right:0;

  }

  #sponsor-wrapper .g2{
    margin-left: $page_indent;
    margin-right: 0;
    overflow: hidden;
    border:red 2px solid;
  }
 /* sponsor end */
}