@media(min-width: 610px){
	/* contact start */
  .container form#new_message div.g7.omega
{
  margin-left: 30px;
  margin-right: 0;
  width:500px;
}
.container form#new_message div.g5.omega
{
  width:310px;
}

/* contact end */
}