@media(min-width:2020px){
  #gmap-wrapper,
  form#contact_us,
  div#contact-wrapper
  {
    padding-left: 60px;
    padding-right: 60px;
  }

  div.container form#contact_us div.g7.omega{
    width:983px;
  }


  /* sponsor start */
  #sponsor-wrapper .g2{
		margin-left: 51.42px;
	}

    #sponsor-parent{
    width:100%;
    /*padding-left:45px;*/
  }
  /* sponsor end */


}