#articles-wrapper.f-height
  .shadow-top
  .row
    .main-banner-bg
      .columns.f-height
        = render 'partials/article_banner'
    .shadow-bottom
  .row
    .columns
      h1
        | Статті
    - @articles.each do |article|
      .columns.large-6.news-item
        h2.article-header
          = link_to article.name, article.url, :title => article.name
        .image-cont
          = link_to(image_tag(article.avatar.url('main')), article_path(article), :title => article.name)
        p.article-short-description
          = article.short_description
