
<!-- Banners -->
<div id="home-slider-wrapper" class="g12" style="" >

    <div id="home-slider" style="">
			<% @banners.each do |banner| %>
				<div class="slide"><span class="title"><%= banner.name %></span><%= link_to(image_tag(banner.banner.url(:main)), banner.url, :title => banner.name) %></div>
			<% end %>
     </div>

  </div>
<!-- /Banners -->
