<div id="gmap-wrapper" class="f-height">
  <div class="g12">
    <h2><%= image_tag('h-img.png', :style => 'position: absolute; left: -35px;') %>Ми на Google карті:</h2>
  </div>
  <div id="map">
    
  </div>
</div>