script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=#{ ENV["GOOGLE_MAPS_API_KEY"] }"
#gmap-wrapper.container.f-height
  .columns
    h2.title
      = image_tag('h-img.png')
      | Ми на Google карті:
  #map-container.columns
    #map
