 <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>"></script>
<!-- temporarily commenthed  because of absent Internet connection -->
<div id="gmap-wrapper" class="container f-height">
  <div class="g12">
    <h2 class="title"><%= image_tag('h-img.png') %>Ми на Google карті:</h2>
  </div>
  <div class="g12" id="map-container">
  <div id="map"></div>
</div>
</div>