<div id="hd-wrapper" class="page-indent container">
  <div id="logo" class="alpha">
    <div class="image-container">
        <% if current_page?(root_path) %>
            <%= image_tag('logo.png', :alt => '') %>
        <% else %>
            <%= link_to(image_tag('logo.png', :alt => ''), root_path) %>
        <% end %>
    </div>
  </div><!-- span4 -->
  <div class="omega mobile-menu-button">
    <img src="/assets/mobile-menu-button.png" alt="show menu"/>
  </div>
  <div id="menu" class="omega">
    <%= render :partial => "partials/menu" %>
  </div><!-- span8 -->
</div>
