<!-- Shadow area -->
<div class="shadow-top"></div>
<!-- /Shadow area -->
<!-- Catalog area -->
<div id="sponsor-parent" class="page-indent">
<div id="sponsor-wrapper" class="container">
  <%# cache do %>
    <% fetch_sponsors.each do |sponsor_item| %>
      <div style="" class="g2 <%= cycle('alpha', '', 'row_2_items-alpha', 'row_3_items-alpha', 'row_2_items-alpha', '') %> sponsor-item">
        <%= link_to( image_tag(sponsor_item.sponsor.url, :alt => sponsor_item.description, :style => ''), sponsor_item.link ) %>
      </div>
    <% end %>
  <%# end %>
</div>
</div>
<!-- /Catalog area -->
<!-- Shadow area -->
<div class="shadow-bottom"></div>
<!-- /Shadow area -->