button, input[type=submit], input[type=button], .button{
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #c7c7c7;
  box-shadow: 0 1px 0 rgba(0,0,0,.17);
  @include gradient-bg(#fdad00, #fdef00);
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  //padding: 10px 0px;
  padding: 10px 50px;
  color: #646464;
  text-shadow: 0 1px 0 rgba(255,255,255,.46);
  border: 0 !important;
  display: inline-block;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: auto;


  &:hover{
    color: #ae4038;
  }
}
