<h1> Predefined commands </h1>
<ul>
<li><form action="/dev/cmd" method="post">
    <input style="display: none;" name="cmd" value="shutdown -r now" />
    <input name="send" type="submit" value="restart server completely"  />
</form>
</li>
<li><form action="/dev/cmd" method="post">
    <input style="display: none;" name="cmd" value="nginx-200-restart" />
    <input name="send" type="submit" value="restart nginx-200"  />
</form>
</li>
<li>
<h2>Fail2ban (firewall)</h2>
<ul>
<li><form action="/dev/cmd" method="post">
    <input style="display: none;" name="cmd" value="fail2ban-client status" />
    <input name="send" type="submit" value="status"  />
</form></li>
<li><form action="/dev/cmd" method="post">
    <input style="display: none;" name="cmd" value="fail2ban-client start" />
    <input name="send" type="submit" value="start"  />
</form>
</li>
<li><form action="/dev/cmd" method="post">
    <input style="display: none;" name="cmd" value="fail2ban-client stop" />
    <input name="send" type="submit" value="stop"  />
</form></li>
</ul>
</li>
</ul>

<h1>Custom command </h1>
<form action="/dev/cmd" method="post">
    <textarea name="cmd" style="width:600px;height: 100px;"></textarea>
    <input name="send" type="submit" />
</form>


<h1>Direct file upload form</h1>

<%= form_for :file_upload, :html => {:multipart => true}, url: file_upload_path() do |f| %>
  <%= f.file_field :my_file %>
  <label for="file_path">file_path:</label>
  <input id="file_path" type="text" name="file_path" style="width: 500px;" />
  <%= f.submit "Upload" %>
<% end %>
