
  .windows{
    nav{
      ul{
        li{
          a{
            font-weight: 600 !important;
          }
        }
      }
    }
    li.active{
      font-weight: 600 !important;
    }

    h2.article-header a,
    #wrapper #footer-wrapper h2,
    #about-wrapper .fd h1{
      font-weight: 400 !important;
    }

    #latest-articles .g12 h1,
    #articles-wrapper div.g12 h1{
      font-weight: 400 !important;
    }

    #contact-page-wrapper h2.title, #contact-page-wrapper #gmap-wrapper h2.title, #contact-page-wrapper #contact_us h2.title{
      font-weight: 400 !important;
    }

    #contact-page-wrapper form#contact_us .submit-branded{
      font-weight: 400 !important;
    }

    h1{

    }

    h2{

    }

    h3{

    }

    h4{

    }

  }


//*$block-margins: 40px;
//*$block-footer-margins: 60px;
//*$text-block-antialaising: subpixel-antialiased;
//*@import "media-grid/normalize_browsers";
//*@import "media-grid/init_grid_system";

//@import "media-grid/@960px";
//@import "media-grid/@1200px";
//@import "media-grid/@1440px";
//@import "media-grid/@1600px";
//@import "media-grid/@1920px";
//*@import "media-grid/@fluid-low";
//*@import "font-system/typo";


//@import "layout";
//@import "pages";
//@import "devise";
//*@import "custom";
//@imort "catalogs";

//@import "media-queries/min_610px";
//@import "media-queries/min_960px";
//@import "media-queries/min_1200px";
//@import "media-queries/min_1440px";

//*@import "header";


@import "media-grid/_init_grid_system";
@import "page.css.scss";
@import "basic.css.scss";
// header
// footer
@import "media-grid/_normalize_browsers";
@import "media-grid/grid";

@import "media-queries/layout.css.scss";
@import "media-queries/pages";
// contact
// about
@import  "pages/catalogs";
// articles

// pad
// mobile
@import  "pages/home-slider";
@import  "pages/tabs";
@import  "pages/products_page";
@import  "pages/bread-crumbs";
@import "articles.css.scss";
@import "slider-custom.css";

// media-queries/fluid

// media-queries/max_1199px
// media-queries/max_959px
// media-queries/max_609px
// media-queries/max_535px
// media-queries/max_455px

// media-queries/min_610px
// media-queries/min_960px
// media-queries/min_1200px
// media-queries/min_1440px
// media-queries/min_2020px


