@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');
@import "jquery.fancybox";
@import "bxslider-4/dist/jquery.bxslider.min";

@import "config";
@import "sass-burger/burger";
@import "sass-css3-mixins/css3-mixins.scss";
@import "detailed_css3_mixins";
@import "custom_mixins";




.windows{
  nav{
    ul{
      li{
        a{
          font-weight: 600 !important;
        }
      }
    }
  }
  li.active{
    font-weight: 600 !important;
  }

  h2.article-header a,
  #wrapper #footer-wrapper h2,
  #about-wrapper .fd h1{
    font-weight: 400 !important;
  }

  #latest-articles .g12 h1,
  #articles-wrapper div.g12 h1{
    font-weight: 400 !important;
  }

  #contact-page-wrapper h2.title, #contact-page-wrapper #gmap-wrapper h2.title, #contact-page-wrapper #contact_us h2.title{
    font-weight: 400 !important;
  }

}

@import "foundation-sites/scss/foundation";
@import "application_foundation_settings";
@include foundation-global-styles;
@include foundation-grid;
@import "grid_extension";


@import "page.css.scss";
@import "basic.css.scss";
@import "footer";

@import "media-queries/layout.css.scss";
//@import "media-queries/pages";

@import "components/button";
@import "components/breadcrumbs";
@import "components/product";
@import "components/header";
@import "components/mobile_menu";
@import "components/popup";
@import "catalog_menu";
@import  "pages/catalogs";
@import "pages/about";
@import "pages/articles";
// articles

// pad
// mobile
//@import  "pages/home-slider";
@import "pages/home_bxslider";
@import "pages/home";
@import  "pages/tabs";
@import  "pages/products_page";
@import  "pages/bread-crumbs";
@import "articles.css.scss";
@import "slider-custom.css";



