#article-banner-wrapper{
  border: 4px solid white;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
  height: 400px;
  overflow: hidden;
}

#articles-wrapper .shadow-bottom{
  clear: both;
}

#article-banner-wrapper .item{
  overflow: hidden;
}

#article-banner-wrapper .item img{
  float: left;
}

#article-banner-wrapper .item .article-slide-descr{
  height: 392px;
  width: 600px;
  float: right;

  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE4MTgxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjM2EzYTNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTgxODE4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  background-image: -moz-linear-gradient(bottom, #181818 0%, #3a3a3a 47.83%, #181818 100%);
  background-image: -o-linear-gradient(bottom, #181818 0%, #3a3a3a 47.83%, #181818 100%);
  background-image: -webkit-linear-gradient(bottom, #181818 0%, #3a3a3a 47.83%, #181818 100%);
  background-image: linear-gradient(bottom, #181818 0%, #3a3a3a 47.83%, #181818 100%);

  padding: 10px 50px;
  position: absolute;
  right: 4px;
}

#article-banner-wrapper .item .article-slide-descr .article-h{
  font-weight: 400;
  font-size: 1.70em;
  line-height: 1.15em;
  color: #ffffff;
}

#article-banner-wrapper .item .article-slide-descr .article-p{
  font-weight: 300;
  font-size: 1.25em;
  color: #ffffff;
}

// Article banner partial
.main-banner-bg{
 width: 100%;
 height: 444px;
 background: image_url('main-banner-bg.png') repeat-x;
 zoom: 1;
 position: relative;

  &:after,
  &:before{
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &:after{
    clear: both;
  }
  .g12{
    margin-top: 30px;
  }
}

#article-banner-wrapper{
  zoom: 1;
  height: 360px;
  &:after,
  &:before{
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &:after{
    clear: both;
  }

  //all for slider
  .sl-slider-wrapper {
    width: 100%;
    height: 360px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .sl-slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 360px;
  }

  /* Slide wrapper and slides */

  .sl-slide,
  .sl-slides-wrapper,
  .sl-slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .sl-slide {
    z-index: 1;
    width: 100%;
    height: 360px;
  }

  .bg-img{
    width: 100%;
    height: 360px;
  }

    /* The duplicate parts/slices */

  .sl-content-slice {
    overflow: hidden;
    position: absolute;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #fff;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity : 1;
  }

  /* Horizontal slice */

  .sl-slide-horizontal .sl-content-slice {
    width: 100%;
    height: 50%;
    left: -200px;
    -webkit-transform: translateY(0%) scale(1);
    -moz-transform: translateY(0%) scale(1);
    -o-transform: translateY(0%) scale(1);
    -ms-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
  }

  .sl-slide-horizontal .sl-content-slice:first-child {
    top: -200px;
    padding: 200px 200px 0px 200px;
  }

  .sl-slide-horizontal .sl-content-slice:nth-child(2) {
    top: 50%;
    padding: 0px 200px 200px 200px;
  }

  /* Vertical slice */

  .sl-slide-vertical .sl-content-slice {
    width: 50%;
    height: 100%;
    top: -200px;
    -webkit-transform: translateX(0%) scale(1);
    -moz-transform: translateX(0%) scale(1);
    -o-transform: translateX(0%) scale(1);
    -ms-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
  }

  .sl-slide-vertical .sl-content-slice:first-child {
    left: -200px;
    padding: 200px 0px 200px 200px;
  }

  .sl-slide-vertical .sl-content-slice:nth-child(2) {
    left: 50%;
    padding: 200px 200px 200px 0px;
  }

  /* Content wrapper */
  /* Width and height is set dynamically */
  .sl-content-wrapper {
    position: absolute;
  }

  .sl-content {
    width: 100%;
    height: 100%;
    background: #fff;
  }

  /* Default styles for background colors */
  .sl-slide-horizontal .sl-slide-inner {
    background: #ddd;
  }

  .sl-slide-vertical .sl-slide-inner {
    background: #ccc;
  }


  #item-description{
    position: absolute;
    width: 600px;
    height: 352px;
    top: 0;
    right: 0;

    background: image_url('article-main-banner-bg.png') repeat-x #181818 center;

    h2{
      margin-left: 25px;
      margin-top: 35px;
      margin-bottom: 15px;
      color: #ffffff;
      line-height: 34px;
      font-size: 28px;
    }

    p{
      margin-left: 25px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #bababa;
      font-size: 18px;
      line-height: 22px;
    }

    .button{
      border-radius: 5px;
      background-clip: padding-box;
      background-color: #c7c7c7;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
      @include gradient-bg(#fdad00, #fdef00);
      font-size: 1.25em;
      font-weight: 400;
      text-decoration: none;
      padding: 10px 20px;
      color: #ae4038;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.46);
      display: block;
      width: 220px;
      position: absolute;
      bottom: 35px;
      margin-left: 25px;
      cursor: pointer;
    }
  }

}

.article-banner{
  position: relative;
}

#articles-wrapper{
  @include clearfix;
  overflow: hidden;
  #banner-item{
    width: 100%;
    height: 440px;
    border-bottom: 1px solid rgba(201, 201, 201, 1);
    border-top: 1px solid rgba(201, 201, 201, 1);


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #next-article, #prev-article{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 250px;
    height: 100px;
    @include transition(0.45s ease-out all);
    cursor: pointer;
  }

  #next-article{
    left: -203px;
    background: image_url('article-left.png') no-repeat right;

    &:hover{
      left: 0;
    }
  }

  #prev-article{
    right: -212px;
    background: image_url('article-right.png') no-repeat 0 0;

    &:hover{
      right: 0;
    }
  }

}

.article-content{
  h2{
    color: #bf2a1f;
    font-weight: 400;
    margin: 30px 0px;
  }

  div.shortDescription{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 300;
    font-style: italic;
    color: #676767;
    margin: 20px 0px;
    width: 60%;
  }

  div.fullDescription{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal !important;
    color: #676767;
    margin:30px 0px;
  }
}

#latest-articles{
  .g12{
    border-bottom: 1px solid #838383;
    h1{
      font-weight: 300 !important;
      font-style: normal;
    }
  }
}

.article-render-left{
  margin-top: 30px;
  float: left;
  text-align: right;
  .date{
    font-weight: 300;
    font-size: 14px;
    color: #676767;
  }
}
