.catalog-category
  padding-bottom: 25px

  > .node-title
    border-radius: 5px
    background-clip: padding-box
    background-color: #c7c7c7
    box-shadow: 0 1px 0 rgba(0,0,0,.17)
    +gradient-bg(#fdad00, #fdef00)
    font-size: 16px
    font-weight: 400
    text-decoration: none
    //padding: 10px 20px
    padding: 10px 10px 10px 20px
    color: #646464
    text-shadow: 0 1px 0 rgba(255,255,255,.46)
    display: block
    width: inherit
    cursor: pointer



    .expander
      //color: #ae4038
      display: inline
      color: #646464
      font-size: 1.35em
      font-weight: 400
      text-shadow: 0 1px 0 rgba(255,255,255,.46)
      float: right
      -webkit-transition: 0.45s ease-out all
      -moz-transition: 0.45s ease-out all
      -ms-transition: 0.45s ease-out all
      -o-transition: 0.45s ease-out all
      transition: 0.45s ease-out all
      padding: 10px
      position: relative
      display: inline-block
      top: -10px

  a.node-title:hover, &.has-active > .node-title, &.active > .node-title
    color: #ae4038
    text-shadow: 0 1px 0 rgba(255,255,255,.46)

  .expander
    &:hover
      color: #ae4038


  ul.catalog-menu
    margin: 0
    padding: 10px 20px
    list-style: none
    display: none

    li
      margin-bottom: 5px
      color: rgb(191, 41, 31)
      font-weight: 300

      a
        text-decoration: none
        color: #bf291f
        font-size: 1em
        font-weight: 300
        font-style: normal
        //text-decoration: underline
        border-bottom: 1px solid rgba(191, 41, 31, 0.35)

        -webkit-transition: 0.6s ease-out all
        -moz-transition: 0.6s ease-out all
        -ms-transition: 0.6s ease-out all
        -o-transition: 0.6s ease-out all
        transition: 0.6s ease-out all


        &:hover
          border-bottom: 1px solid rgba(191, 41, 31, 1)

      span
        color: #838383


    ul
        list-style: none
        display: block
        margin-left: 20px
        padding: 0

    &.visited li
      font-style: italic

  &.has-active > ul, ul.visited, ul.show
    display: block !important




  &.open a.catalog-show-more
    color: #dd2e21
    text-shadow: 0 1px 0 rgba(255,255,255,.46)




#catalog-wrapper
  background: image_url("catalog-main-bg.jpg") repeat
  padding: 50px 0 25px 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)


  &.home-catalog-wrapper

    .category-column
      float: left !important
      +breakpoint(medium only)
        &:nth-child(2n+3)
          clear: left
      +breakpoint(large up)
        &:nth-child(3n+4)
          clear: left



+breakpoint(small only)
  #catalog-page-wrapper
    .catalog-block
      display: none

