#catalog-page-wrapper h1{
  color: #838383;
  font-weight: 400;
}

#tab-control{
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.avatar-pr{
  text-align: center;
}

#catalog-page-wrapper div.catalog-block div.catalog-item{
  padding-bottom: 25px;
  width: 100%;
}

.catalog-page-format h1{
  color: #bf291f !important;
  font-weight: 400 !important;
  margin-top: 0 !important;
  line-height: 1.2em !important;
}

.catalog-page-format .catalog-small-descr{
  width: 75%;
  font-weight: 300;
  font-style: italic;
  color: #666;
  font-size: 0.9em;
}

.catalog-page-format .catalog-full-descr{
  font-weight: 300;
  color: #666;
}

.catalog-page-format {

}

#catalog-page-wrapper .g4 .alpha{
  margin-right: 25px;
  width: 405px;
}

/*#catalog-page-wrapper .g8 .omega{
  margin-left: 25px;
  width: 885px;
}*/

.store-section{
  width: inherit;
}

.store-section .top-border{
  border-top: 1px solid #d8d8d8;
  margin-bottom: 20px;
}


.catalog-item ul li a.active{
  font-style: italic !important;
}

.category-description{
  margin: 20px 0;
}
