














#articles-wrapper{}

.section-title{
  color: #838383;
  font-weight: 300;
  font-size: 32px;
  margin: 21px 0;
}

.news-item .image-cont{
  border: 4px solid #fff;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.37);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.37);
  box-shadow: 0 0 5px rgba(0,0,0,.37);
  overflow: hidden;
  height: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  img{
    opacity: 0;
  }
}


.news-item .article-header{
  color: rgba(191, 41, 31, 1);
  font-weight: 300;
  margin: 15px 0;
}

.news-item .article-header a{
  color: rgba(191, 41, 31, 1);
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(191, 41, 31, 0);

  -webkit-transition: 0.6s ease-out all;
  -moz-transition: 0.6s ease-out all;
  -ms-transition: 0.6s ease-out all;
  -o-transition: 0.6s ease-out all;
  transition: 0.6s ease-out all;
}

.news-item .article-header a:hover{
  border-bottom: 1px solid rgba(191, 41, 31, 1);
}

.news-item .article-short-description{
  color: #666;
  font-weight: 300;
  font-size: 1em;
  margin: 10px 0;
  letter-spacing: -0.55px;
}


#sponsor-wrapper.f-height{
  background: image_url("catalog-main-bg.jpg") repeat;
  padding: 50px 0 25px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width:100%;

  height: 150px;
}
#sponsor-wrapper div.g2
{

}

@media(max-width:1199px){
  .container #sponsor-wrapper div.g2,
  .container #sponsor-wrapper div.g2 a
  {
    width:125px;
    overflow: hidden;
  }
  .container #sponsor-wrapper div.g2 img
  {
    width: 140px;
  }
}

@media(max-width:959px){
  .container #sponsor-wrapper
  {
    height:395px;
  }

  .container #sponsor-wrapper div.g2,{
    border:1px solid red;
    width:150px;
    overflow: hidden;  
  }
  .container #sponsor-wrapper .g2 a
  {
    width:100%;
    overflow: hidden;
  }

  .container #sponsor-wrapper div.g2
  {
  }


  .container #sponsor-wrapper div.g2
  {
    
  }
}


@media(max-width:609px){

  .container #sponsor-wrapper .g2 a
  {
    width:100%;
    overflow: hidden;
  }
}

#articles-wrapper{
  margin-bottom: 30px;
}


.secondary-header{
  margin: 10px auto 0 auto;
  height: 25px;
  text-align: right;
  width: 80%;

  @include breakpoint(medium down){
    width: 100%;
  }

  a{
    color: rgba(255, 255, 255, 1);
    //border-bottom: 1px solid rgba(255, 255, 255, 1);



    margin-right: 20px;

    &:last-child{
      margin-right: 0;
    }
  }

  .secondary-header-item{
    float: right;
    margin-right: 20px;
    opacity: 0.6;
    @include transition(0.6s ease-out all);

    a{
      color: white;
    }

    &:hover{
      opacity: 1;
    }
    img{
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  #header-cart{
    svg{
      width: 20px;
      fill: white;
    }

    .products-count{
      top: -6px;
      position: relative;
      margin-left: 5px;
    }
  }
}

#developed-by{
  top: 18px;
  position: relative;
}
