.product-index-page{
  h1{
    color: rgb(131, 131, 131);
    font-weight: 400;

    a{
      text-decoration: none;
      color: rgb(131, 131, 131);
      &:hover{
       text-decoration: none;
      }
    }
  }

  h2{
    color: rgb(191, 41, 31) !important;
    font-weight: 400 !important;
    margin-top: 0 !important;
    line-height: 1.2em !important;
  }

  .main-product-avatar{
    img{
      border: 4px solid rgb(255, 255, 255);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
      width: inherit;
    }
  }
}
