.tab-wrapper{
  overflow: hidden;
  width: 872px;
  height: 40px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.tabs-left, .tabs-right{
  position: absolute;
  font-size: 3em;
  color: rgb(100, 100, 100);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.46);
  cursor: pointer;
  line-height: 85px;
}

.tabs-left:hover, .tabs-right:hover{
  color: rgb(174, 64, 56);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.46);
}

.tabs-left{
  left: 0;
}

.tabs-right{
  right: 0;
}

.tab-item{
  -moz-border-top-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #c7c7c7;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.17);
  box-shadow: 0 1px 0 rgba(0,0,0,.17);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkYWQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZWYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  background-image: -o-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  background-image: -webkit-linear-gradient(bottom, #fdad00 0%, #fdef00 100%);
  background-image: linear-gradient(bottom, #fdad00 0%, #fdef00 100%);

  height: 40px;
  line-height: 40px;
  width: 68px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;

}

.tab-item.active{
  height: 46px;
  line-height: 46px;
  margin-top: -6px;
}
.tab-item a,
.tab-item span{
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  text-decoration: none;
}


.sub-menu-status{
  margin-left: 10px;
  cursor: pointer;
}

#tabcontents .tab-content-wrapper .description{
  margin: 20px 0;

}
